{% extends 'blog/index.html' %}
{% block content %}
		<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#"></a>
	    </div>
	    <h2><a class="article-title" href="{% url 'blog-Image-to-pattern'%}">Convert your image to pattern</a></h2>
	    <p class="article-content">this is my first tool which converts image to pattern , not fully developed , have a try!!!</p>
	  </div>
	</article>
	<h2>Below is my trial 3D Object</h2>
	<iframe  allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:db9ebf5e54/applications/web_test/web_test.html" style="position: relative; height: 100%; width: 100%;"></iframe>

{% endblock content %}