
{% extends 'blog/base.html' %}
{% load poll_extras %}
{% block content %}
	   <h2>choose your image and click upload</h2>
	   <p> innu full ah develop panlaa  , ipothaiku image upload panna heart emoji vechu pattern varum , time irukapa full code um upload pandren </p><!--, ithu epdi work aaguthunu theriyanumna <br><a href="https://youtu.be/7QkKsIZya2I"> click here</a> </p>-->

	   <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ imageform.as_p }}
  <button type="submit">Upload</button>
</form>

{% if img_obj %}
	{% for i in lines %}
  <p>{{i|nbsp}}</p>
  
{% endfor %}
<img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}

{% endblock content %}

