{% extends 'blog/index.html' %}
{% load static %}
{% block section %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'blog/images/about.jpg'%});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>About Us</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Productive Team</span>
					<h2>Meet Our Team</h2>
					<p></p>
				</div>
			</div>
			 <style>
    .socialmediaicons{
      width: 25px;
      height: 25px;
      filter: invert(69%) sepia(17%) saturate(7003%) hue-rotate(318deg) brightness(96%) contrast(98%);
      
    }
   </style>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static 'blog/images/person/vignesh.jpg'%}" alt="avatar">
						<h3><a href="{% static 'resume/index.html'%}">Vignesh A </a></h3>
						<strong class="role">Founder</strong>
						<p>Electrical and Electronics Engineer studying at st joseph's college of engineering.</p>
						<ul class="fh5co-social-icons">
			
            <a href="https://instagram.com/_._av.__?utm_medium=copy_link" ><img src="{% static 'resume/img/socialmedia/instagram.svg'%}" class="socialmediaicons"></a>
            <a href="https://www.linkedin.com/in/vignesh-a-ba83841b0/" ><img src="{% static 'resume/img/socialmedia/linkedin.svg'%}" class="socialmediaicons"></a>
            <a href="https://www.reddit.com/u/vignesh-2002?utm_medium=android_app&utm_source=share " ><img src="{% static 'resume/img/socialmedia/reddit.svg'%}" class="socialmediaicons"></a>
            <a href="https://github.com/vignesh14052002 " ><img src="{% static 'resume/img/socialmedia/github.svg'%}" class="socialmediaicons"></a>
            <a href="https://www.hackerrank.com/vignesharivazha1 " ><img src="{% static 'resume/img/socialmedia/hackerrank.svg'%}" class="socialmediaicons"></a>
            <a href="https://www.facebook.com/vignesh.rock.98622/ " ><img src="{% static 'resume/img/socialmedia/facebook.svg'%}" class="socialmediaicons"></a>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static 'blog/images/person/santhosh.jpg'%}" alt="avatar">
						<h3>Santhosh Chakaravarthy</h3>
						<strong class="role">Photographer</strong>
						<p>Electrical and Electronics Engineer studying at st joseph's college of engineering.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<div class="desc">
							<h3>History</h3>
							<p>This is a general purpose website created in july 2021 with python django framework 
							 designed by Orange - 100% Fully Responsive Free HTML5 Bootstrap Template .
							This website is hosted by pythonanywhere.com</p> 
							
						</div>
						<div class="desc">
							<h3>Mission &amp; Vission</h3>
							<p>This website is created to showcase our works , blogs, projects,resume etc </p> 
							
						</div>
						<div class="desc">
							<h3>Credits</h3>
							<p>This website is created with the help of djangoframework and Orange - 100% Fully Responsive Free HTML5 Bootstrap Template </p>
	 					</div>
	 					<div class="desc">
							
							<a href="https://www.privacypolicygenerator.info/live.php?token=6dPeNoMyEgbHes5sXw4wCAObiXAHLube"><h3>Privacy policy</h3></a>

						</div>
						<div class="desc">
							<h3>Contact</h3>
							<p>Email : vignesharivazhagan1409@gmail.com</p>
	 					</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
{% endblock section %}
