{% extends 'blog/index.html' %}
{% load static %}
{% block content %}
<div class="row" style="margin-top: 150px;">
        <div class="col-md-10 col-md-offset-1 text-center">
          <div class="display-t">

<div class="display-tc animate-box" data-animate-effect="fadeIn" style="background-color: white;  border-radius: 25px;
">
<a href="{% url 'blog-myblog'%}">Back to blog</a>
  <div class="row" style="margin-right: 80;margin-left: 10;">
<h2 style="color: black;">Myfirst blog</h2>
{% endblock content %}